
.product-wrapper {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 75px;
  }


select {
  padding: 10px;
  width: 250px;
}

#add-cart {
  margin-top: 50px;
}

#add-cart span {
	font-weight:  bold;
	padding: 10px;
	text-align: center;
	cursor: pointer;
  width: 250px;
	padding: 10px;
}

#add-cart span.highlight {
	border: 1px solid black;
}

.product-image {
  width: 600px;
  height: 600px;
	border:  3px solid black;
}

.detail-flex-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  transform: translatex(150px);
}

.image-container, .info-container {
  flex: 1;
  padding: 20px;
  text-align: left;
  max-width: 600px;
}

#message {
  width: 60%;
}

#message, #customize, #add-cart {
  flex-grow: 1;
  margin-bottom: 115px;
}

#add-cart {
  padding: 20px;
}

#message p {
  font-size: 25px;
}