/* CSS Stylesheet for Homework 1 */
/* Sources: 
https://www.w3.org/Style/Examples/007/center.en.html
https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors
https://blog.logrocket.com/creating-custom-select-dropdown-css/
*/

.page-header {
  border-bottom: 2px solid black;
}

.bunbun-logo {
  width: 400px;
}

.top-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.products-title-highlighted, .cart-title-regular {
  margin: 5px;
}

.products-title-highlighted {
  font-size: 32px;
  font-weight: bold;
  background-color: yellow;
  color: black;
}

.cart-title-regular {
  font-size: 32px;
  color: black;
}

.products-title-regular {
  font-size: 32px;
  color: black;
}

.products-title-regular, .cart-title-highlighted {
  margin: 5px;
}

.cart-title-highlighted {
  font-size: 32px;
  font-weight: bold;
  background-color: yellow;
  color: black;
}

.page-description {
  font-size: 30px;
  color: black;
  text-align: center;
  padding: 20px;
}

.product-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.product-card{
  padding: 5px;
  margin: 5px;
}

.product-card:hover{
  background-color: rgb(245, 245, 110);
}

.product-image {
  width: 400px;
  height: 400px;
  border: 3px solid black;
  align-items: center;
}

.product-gallery-product-name, .product-gallery-price {
  margin: 15px;
}

.product-gallery-product-name {
  font-size: 22px;
  color: black;
  text-decoration: underline;
  text-align: left;
}

.product-gallery-price {
  font-size: 22px;
  color: black;
  text-align: left;
}

.product-image-shopping-cart {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.product-detail-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-detail-description {
  font-size: 23px;
  color: black;
  text-align: center;
}

.product-detail-card label {
  font-size: 25px;
  color: black;
  text-align: center;
  margin: 15px;
}

.product-detail-card select {
  font-size: 15px;
  color: black;
  text-align: center;
  background-color: white;
  padding: 5px;
  border-radius: 0px;
  width: 200px;
}

.product-add-to-cart-card {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

.product-detail-price, .add-to-cart-button  {
  display: inline-block;
  font-size: 10px;
  color: black;
  font-weight: bold;
  vertical-align: middle;
  margin: 5px;
}

.add-to-cart-button {
  width: auto;
  border: 2px solid black;
  padding: 7px;
  height: auto;
  font-size: 10px;
  background-color: yellow;
  text-align: center;
  cursor: pointer;
}