button {
  cursor: pointer;
}

.product-cart-wrapper {
  text-align: center;
}

#item-listing {
  display: flex;
  flex-direction: row;
  border-bottom: 5px soild black;
  padding-bottom: 20px;
}
  
#item-listing img {
  width: 200px;
  border:  3px solid black;
}

p.remove {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

#checkout {
  padding-top: 20px;
}
  
#checkout button {
  width: 150px;
  padding: 20px;
}