button {
  cursor: pointer;
}

.product-cart-wrapper {
  padding-top: 50px;
  text-align: center;
  padding-left: 30%;
}

#item-listing {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

#item-listing img {
  width: 200px;
  border:  3px solid black;
}

.item-details {
  text-align: left;
  flex-grow: 1;
  font-size: 30px;
}

.item-info, .remove {
  text-align: left;
}

.item-image {
  margin-right: 20px;
}

.item-price {
  text-align: right;
  align-items: right;
  transform: translateX(-220px);
}

p.remove {
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}


.checkout-section {
  border-top: solid black 6px;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}


.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.total-word {
  transform: translateX(250px);
  font-size: 25px;
}

.checkout-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 70px;
}