
/* Entire scrollable product gallery section */ 
.gallery-wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 80px;
  display: grid;
}

/* Contains product image, name and price */
.gallery-item {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.gallery-item:hover {
	background-color: yellow;
}
.gallery-item img {
  width: 400px;
}

.gallery-item .name {
  text-decoration: underline;
}

.product-image {
	border:  3px solid black;
}

p.name:hover {
	font-weight: bold;
}